.card-profile {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 1.5em;
  width: 1280px;
}

.card-profile__flex {
  display: flex;
}

.card-name {
  max-width: 20em;
  text-align: center;
  color: var(--light-gray);
}
.card-detail {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 26em;
  margin-left: 1em;
  padding-left: 1em;
}
.detail-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-detail ul {
  list-style-type: none;
}
.card-detail li {
  display: block;
  border-bottom: 1px dotted white;
  padding: 4px 0 4px 10px;
}
.card-detail li:nth-child(even) {
  background-color: var(--mid-gray);
}

.card-image img {
  width: 20em;
  border-radius: 1.5em;
  border: 1px solid var(--mid-gray);
}

.border {
  border: 1px dashed white;
}

.add-to-deck {
  background-image: linear-gradient(var(--light-green), var(--dark-green));
  margin-top: 1em;
  border: none;
  width: 95%;
}

.add-to-deck:hover {
  background-image: linear-gradient(var(--dark-green), var(--light-green));
}
.keywords {
  margin-top: 5px;
  padding-left: 10px;
}

strong {
  color: var(--dark-green);
}

.price-container li{
  display: block;
  border-bottom: 1px dotted white;
  padding: 4px 0 4px 10px;
}

.price-details li {
  display: block;
  border-bottom: 1px dotted white;
  padding: 4px 10px;
}
.price-details li:nth-child(odd) {
  background-color: var(--mid-gray);
}

#deck-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: .75em;
  }

  #decks{
    height: 1.5em;
    padding-left: .5em;
    font-size: 1em;
    line-height: 0;
    border: 1px solid var(--light-gray);
    border-radius: 10px;
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.05),
    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
  }

  .keyword {
    display: inline-block;
    margin-right: 8px;
  }